*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(to right,#36d1dc,#5b86e5);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.box{
width:420px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{
text-align:center;
color:#0d6efd;
margin-bottom:20px;
}

input,select{
width:100%;
padding:12px;
margin-top:10px;
border:1px solid #ccc;
border-radius:6px;
}

span{
color:red;
font-size:14px;
}

button,.viewbtn{
width:100%;
padding:12px;
margin-top:15px;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
text-decoration:none;
display:block;
text-align:center;
}

button{
background:#198754;
color:white;
}

.viewbtn{
background:#0d6efd;
color:white;
}